@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* SPinner styles */

.spinner__container {
  width: 10rem;
  height: 10rem;
  /* background-color: red; */
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
}

.spinner--1 {
  width: 50px;
  height: 50px;

  border: none;
  border: 8px solid transparent;
  border-top-color: #f1356d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner_1 0.5s infinite;
}

.spinner--2 {
  width: 50px;
  height: 50px;

  border: none;
  border: 8px solid transparent;
  border-bottom-color: #e6dadd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner_1 1s 0.2s infinite;
}

@keyframes spinner_1 {
  0% {
    opacity: 0;
    /* transform: scale(0); */
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    /* transform: scale(0.4); */
    /* width: 100px; */
    transform: rotate(360deg);
  }
}
@keyframes spinner_2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
